html {
    font-size: 16px;
    line-height: 1.5;
}

body {
    background-image: url('assets/background-desktop.png');
    background-size: cover;
    background-position: center;
    background-position: no-repeat;
    position: relative;
    font-family: 'Inconsolata', sans-serif;
    margin: 0;
    padding: 0;
}

.svg-bottom-left {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 90%;
    height: auto;
    z-index: 1
}

.svg-top-right {
    position: absolute;
    top: 0;
    right: 0;
    width: 90%;
    height: auto;
    z-index: 1;
}

h1 {
    color: #FFFFFF;
    text-align: center;
    font-weight: 800;
}

h2 {
    color: #FFFFFF;
    text-align: center;
    font-weight: 300;
}

form {
    position: relative;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    z-index: 2;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #FFFFFF;
}

input[type="text"],
input[type="email"],
input[type="file"],
textarea {
    background-color: transparent ;
    color : #FFFFFF ;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button[type="submit"] {
    background-color: #c45810;
    color: rgb(23, 1, 1);
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #c45810;
}
