* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    overflow: hidden;
}

body {
    background-image: url('assets/background-desktop.png');
    background-size: cover;
    background-position: center;
    background-position: no-repeat;
    position: relative;
    font-family: 'Inconsolata', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 20px;
}


svg {
    max-width: 80%;
}

.svg-bottom-left {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 70%;
    height: auto;
    z-index: 1
}

.svg-top-right {
    position: absolute;
    top: 0;
    right: 0;
    width: 70%;
    height: auto;
    z-index: 1;
}

section {
    position: relative;
    z-index: 2;
}

.titles>h1,
h2 {
    color: #FFFFFF;
    text-align: center;
}

h1 {
    font-weight: 800;
}

h2 {
    font-weight: 300;
}

.sr-only {
    display: none;
}

form {
    max-width: 90%;
    margin: 20px auto;
    border: 1px solid transparent;
    border-radius: 5px;

}

label {
    display: block;
    margin-bottom: 5px;
    color: #cdcdd9;
}

input[type="text"],
input[type="email"],
input[type="file"],
textarea {
    background-color: transparent;
    color: #cdcdd9;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button[type="submit"] {
    background-color: hsl(7, 71%, 60%);
    color: rgb(23, 1, 1);
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    width: 104%;
}

button[type="submit"]:hover {
    background-color: hsl(7, 71%, 60%);
}

@media (min-width : 640px) {
    form {
        max-width: 570px;
    }
}